.editButton {
  display: flex;
  text-align: center;
  width: 16px;
  height: 16px;
  border: none;
  background-color: var(--secondary-backround-color);
  margin-right: 16px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
