.inputText {
  max-width: 520px;
  height: 20px;
  border: none;
  outline: none;
  flex-grow: 1;
}

.inputText::placeholder {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-regular);
  color: var(--color-ghost);
  line-height: 1.4;
}

.inputText:focus {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-regular);
  color: var(--color-accent);
  line-height: 1.4;
}

.inputText:enabled {
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-regular);
  color: var(--color-accent);
  line-height: 1.4;
}
