.header {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-basis: 68px;
  flex-shrink: 0;
  box-shadow: 0 -1px 0 0 var(--border-shadow-color) inset;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 656px;
  width: 100%;
}

.usersContainer {
  position: relative;
  display: flex;
  height: 26px;
  margin-left: 13px;
  flex-basis: 33.33%;
  flex-shrink: 0;
}

.chatBarContainer {
  display: flex;
  justify-content: center;
  flex-basis: 33.33%;
  flex-shrink: 0;
}

.menuContainer {
  flex-basis: 33.33%;
  flex-shrink: 0;
}
